
<!-- <ejemplos-binding></ejemplos-binding> -->
<!-- <ejemplos-componentes></ejemplos-componentes> -->
<!-- <ejemplos-inyeccion></ejemplos-inyeccion> -->
<ejemplos-observables></ejemplos-observables>

<div class="container">

  <header>
    <h1>Mi Agenda</h1>
  </header>

  <!-- Barra de navegación -->
  <nav>
    <ul>
      <li><a routerLink="/mis-contactos"
             routerLinkActive="seleccionado">Mis contactos</a></li>
      <li><a routerLink="/nuevo-contacto"
             routerLinkActive="seleccionado">Nuevo contacto</a></li>
    </ul>
  </nav>

  <router-outlet></router-outlet>

</div>
