
<!-- <ejemplos-binding></ejemplos-binding> -->
<!-- <ejemplos-componentes></ejemplos-componentes> -->
<!-- <ejemplos-inyeccion></ejemplos-inyeccion> -->

<div class="container">

  <header>
    <h1>Mi Agenda</h1>
  </header>

  <formulario-contacto></formulario-contacto>

  <lista-contactos [contactos]="listaContactos"
                  (seleccionado)="mostrarDetalles($event)"></lista-contactos>

  <detalles-contacto [contacto]="contactoSeleccionado"
                     (verFacebook)="navegarRuta($event)"
                     (verTwitter)="navegarRuta($event)"></detalles-contacto>

</div>
